---
interface Props {
  postId: number;
  authorId?: number;
}

const { postId, authorId } = Astro.props;
---

<div id="comments" class="comment_part" data-post-id={postId} data-author-id={authorId || ''} data-wp-url={import.meta.env.PUBLIC_WP_URL?.replace(/\/$/, '')}>
  <!-- 评论表单 -->
  <div id="respond" class="respond">
    <form method="post" class="cat_block cat_comment_respond_form" action="#" data-type="text" data-post-id={postId} data-wp-url={import.meta.env.PUBLIC_WP_URL?.replace(/\/$/, '')}>
      <input type="hidden" name="parent" value="0" />
      <div class="top">
        <div class="replyavatar">
          <img class="avatar api_avatar" src="https://cn.cravatar.com/avatar/" alt="" />
        </div>
        <div class="head">
          <div class="list">
            <input type="email" id="toavatar" autocomplete="off" name="mail" placeholder="邮箱" required />
          </div>
          <div class="list">
            <input type="text" autocomplete="off" name="author" maxlength="16" placeholder="昵称" required />
          </div>
          <div class="list">
            <input type="url" autocomplete="off" name="url" placeholder="站点" />
          </div>
        </div>
      </div>
      <div class="body">
        <textarea name="text" class="Comment_Textarea" placeholder="注意文明发言哦！" required></textarea>
      </div>
      <div class="foot">
        <div class="right">
          <div id="cancel-comment-reply-link" class="cat_cancel_comment_reply send_anniu_style" style="display:none;">取消</div>
          <button type="submit" class="send_anniu_style">发表</button>
        </div>
      </div>
    </form>
  </div>

  <!-- 评论列表容器（由 JS 动态填充） -->
  <div id="comment-list-container">
    <div class="cat_block" style="text-align: center; padding: 2rem;">
      <span style="color: var(--colorC);">评论加载中...</span>
    </div>
  </div>
</div>
